<div class="page">
  <div class="main-card mat-elevation-z24">
    <div @loginTrigger class="login-container">
      <ffr-login-form class="login-form"></ffr-login-form>
      <div class="poweredby-logo">
        <mat-icon color="accent" class="test">pages</mat-icon>
      </div>
    </div>
    <div @infoTrigger class="app-info">
      <div class="app-logo"><h1 class="mat-display-1">Authentication</h1></div>
      <h3>
        This is the authentication project! A project that implements JWT
        authentication to an Angular project. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </h3>
    </div>
  </div>
</div>
